// General styling
body {
  margin: 0;
  padding: 0;
  border: 0;
}

// Font Weight
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;

// Font Sizes
$fontSizeXS: 10px;
$fontSizeS: 12px;
$fontSizeM: 14px;
$fontSizeL: 16px;
$fontSizeXL: 18px;

//Breakpoints
$breakpointS: 600px;
$breakpointM: 960px;
$breakpointL: 1280px;
$breakpointXL: 1920px;


